#logo-div {
    height: 40%;
    display: flex;
    align-items: center; // Alinhamento vertical
    justify-content: center; //Alinhamento horizontal

    p {
        text-align: center;
    }

    h3 {
        text-align: center;
    }
}